<div id="<%= dom_id comment %>">
  <div class="reviewsname">    <%= image_tag "pics/av_default.png", class:"inline", alt: "pics/av_default.png" %> <!--@comment.user.imageUrl, onerror: 'this.error=null;this.src="pics/av_f_bolajuzon.png"'-->
<h6 >
    <%= comment.user.first_name %>
    <%= comment.user.last_name %>
    <button class="btn btn-grey">
      <%= link_to "Edit", edit_comment_path(comment) %>
    </button>
  </h6></div>
  <p>
    <%= comment.body %>
  </p>
</div>
