<header>    
    <div class="titlebar">
        <a href="/home/index.html">
            <%= image_tag "general/logo_navbar.svg", class: "logo"%>
        </a>
    </div>   
    <nav class="navbar" style="margin-top: 2pt;">
        <ul>
            <li>
                <%= link_to home_index_path do %>
                    <div class="text-amber-200">Intro</div></a> 
                <% end %>
            
            <li>
                <%= link_to home_not_available_path, class: 'w-full h-full' do %>
                    <div class="nav-link text-zinc-500">Cursos</div>
                <% end %>
                
            <li>
                <%= link_to home_about_path , class:'nav-link text-zinc-500' do %>
                    <div>Novedades</div>
                <% end %>
            <li>
                <%= link_to home_about_path , class:'nav-link text-amber-200' do %>
                    <div>Info</div>
                <% end %>
            <li>
                <%= link_to new_user_path , class:'nav-link text-amber-200' do %>
                    <div>Registrate</div>
                <% end %>
        </ul>    
    </nav>
</header>